.form-wrapper {
    padding-top: 10rem;
    display: flex;
    justify-content: space-around;
}

.form {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 24px 16px;
}
