#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1px 2rem;
}

.header {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-top: none;
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
    color: white;
}

.page-wrapper {
    height: 100vh;
    max-width: 1170px;
    width: 1170px;
    border-left: 1px solid rgb(196, 193, 193);
    border-top: 1px solid rgb(196, 193, 193);
}

.input-wrapper {
    margin-top: 1rem;
}

.input {
    width: 80%;
    height: 35px;
    font-size: 15px;
    border-radius: 4px;
}

.tiny-mock {
    font-size: 9px;
    color: #1877f2;
    margin: 5px;
}

label {
    display: block;
}

.error {
    color: rgb(218, 55, 55);
    font-size: 15px;
}

.editor-wrapper {
    display: flex;
    height: calc(100vh - 3rem);
    width: 100%;
}

.input-field-wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.edit-item-submit {
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discard-item-btn {
    width: 40%;
    background-color: rgb(234, 86, 86);
    color: white;
}

.logout {
    cursor: pointer;
}
